/.env
/beatmap_classifier/scripts/speed
/beatmap_classifier/scripts/extracted_osu
/beatmap_classifier/scripts/osz_files
/beatmap_classifier/beatmaps.db
/beatmap_classifier/data/NM1
/beatmap_classifier/data/NM2
/beatmap_classifier/data/NM3
/beatmap_classifier/data/NM4
/beatmap_classifier/data/NM5
/beatmap_classifier/data/NM6
/beatmap_classifier/data/DT1
/beatmap_classifier/data/DT2_and_DT3
/beatmap_classifier/data/DT4
/beatmap_classifier/data/HD1
/beatmap_classifier/data/HD2
/beatmap_classifier/data/HD3
/beatmap_classifier/data/HR1
/beatmap_classifier/data/HR2
/beatmap_classifier/data/HR3
/beatmap_classifier/data/Freemod
/beatmap_classifier/data/Tiebreaker
/beatmap_classifier/dot_osu_extract/outputs