.env
/beatmap_classifier/classifier_db_setup/speed
/beatmap_classifier/classifier_db_setup/extracted_osu
/beatmap_classifier/classifier_db_setup/osz_files
/beatmap_classifier/data/NM1
/beatmap_classifier/data/NM2
/beatmap_classifier/data/NM3
/beatmap_classifier/data/NM4
/beatmap_classifier/data/NM5
/beatmap_classifier/data/NM6
/beatmap_classifier/data/DT1
/beatmap_classifier/data/DT2_and_DT3
/beatmap_classifier/data/DT4
/beatmap_classifier/data/HD1
/beatmap_classifier/data/HD2
/beatmap_classifier/data/HD3
/beatmap_classifier/data/HR1
/beatmap_classifier/data/HR2
/beatmap_classifier/data/HR3
/beatmap_classifier/data/Freemod
/beatmap_classifier/data/Tiebreaker
/beatmap_classifier/dot_osu_extract/outputs
/beatmap_recommender/data/2007
/beatmap_recommender/data/2008
/beatmap_recommender/data/2009
/beatmap_recommender/data/2010
/beatmap_recommender/data/2011
/beatmap_recommender/data/2012
/beatmap_recommender/data/2013
/beatmap_recommender/data/2014
/beatmap_recommender/data/2015
/beatmap_recommender/data/2016
/beatmap_recommender/data/2017
/beatmap_recommender/data/2018
/beatmap_recommender/data/2019
/beatmap_recommender/data/2020
/beatmap_recommender/data/2021
/beatmap_recommender/data/2022
/beatmap_recommender/data/2023
/beatmap_recommender/data/2024
/beatmap_recommender/data/2025
/beatmap_recommender/data/2026

/beatmap_recommender/data_audio/2*

*.db
*.db-wal
*.db-shm
