.env
/beatmap_classifier/classifier_db_setup/speed
/beatmap_classifier/classifier_db_setup/extracted_osu
/beatmap_classifier/classifier_db_setup/osz_files
/beatmap_classifier/data/NM*
/beatmap_classifier/data/DT*
/beatmap_classifier/data/HD*
/beatmap_classifier/data/HR*
/beatmap_classifier/data/Freemod
/beatmap_classifier/data/Tiebreaker
/beatmap_classifier/dot_osu_extract/outputs
/beatmap_recommender/data/2*
/beatmap_recommender/data_audio/2*

# for now, i'd like to exclude this until i can properly resolve the related issue.
/beatmap_recommender/item_item_filtering

*.db
*.db-wal
*.db-shm

.vscode