../.env
/dot_osu_db_setup/speed
/dot_osu_db_setup/extracted_osu
/dot_osu_db_setup/osz_files
/beatmaps.db
/data/NM1
/data/NM2
/data/NM3
/data/NM4
/data/NM5
/data/NM6
/data/DT1
/data/DT2_and_DT3
/data/DT4
/data/HD1
/data/HD2
/data/HD3
/data/HR1
/data/HR2
/data/HR3
/data/Freemod
/data/Tiebreaker
/dot_osu_extract/outputs