.env
/scripts/speed
/scripts/extracted_osu
/scripts/osz_files
/beatmaps.db
/data/NM1
/data/NM2
/data/NM3
/data/NM4
/data/NM5
/data/NM6
/data/DT1
/data/DT2-and-DT3
/data/DT4
/data/HD1
/data/HD2
/data/HD3
/data/HR1
/data/HR2
/data/HR3
/data/Freemods
/data/Tiebreakers
